@charset "UTF-8";
/*---------------------------------------------------------------------------------------
show.scss 点赞详情
---------------------------------------------------------------------------------------*/
.ranking-show .col-md-12 {
  overflow: hidden;
  zoom: 1;
}

.ranking-show dl {
  width: 64px;
  float: left;
  margin-right: 10px;
}

.ranking-show dl dd {
  text-align: center;
}
